<!DOCTYPE html>
<html dir="<%= I18n.locale == :fa ? 'rtl' : 'ltr' %>" lang="<%= I18n.locale %>">
  <head>
    <title><%= t('app.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="locale-switcher">
      <%= form_with url: set_locale_path, method: :post, local: true do |form| %>
        <%= form.select :locale, options_for_select([['English', 'en'], ['فارسی', 'fa']], I18n.locale), {}, { onchange: 'this.form.submit();' } %>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
